<?xml version="1.0" encoding="UTF-8"?>
<web-app
  xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
  version="6.0">


  <display-name>Archetype Created Web Application</display-name>
  <listener>
    <listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
  </listener>

  <resource-env-ref>
    <resource-env-ref-name>BeanManager</resource-env-ref-name>
    <resource-env-ref-type>
      jakarta.enterprise.inject.spi.BeanManager
    </resource-env-ref-type>
  </resource-env-ref>

  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/bank</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/errors</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/views/errors/403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/views/errors/404.jsp</location>
  </error-page>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>JSP Files</web-resource-name>
      <description>No direct access to JSP files</description>
      <url-pattern>/views/*</url-pattern>
      <http-method>POST</http-method>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description>No direct browser access to JSP files</description>
      <role-name>NoRoleAllowed</role-name>
    </auth-constraint>
  </security-constraint>

  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/views/pages/singles/login.jsp</form-login-page>
      <form-error-page>/views/pages/singles/login.jsp?failed=true</form-error-page>
    </form-login-config>
  </login-config>

</web-app>